<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="listener" class="in.ashokit.bean.MovieListener">
        <constructor-arg name="mf" ref="finder"/>
    </bean>

    <bean id="finder" class="in.ashokit.bean.MovieFinder"/>

</beans>